html {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}
body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

.life-bloc {
  position: fixed;
  right: 0;
  color: #fff;
}

section {
  height: 100%;
  width: 100%;
  position:absolute;
  visibility: hidden;
  opacity: 0;
  transition: .4s;
  transform: translateX(-200px);
}

section.active {
  visibility: visible;
  opacity: 1;
  transform: translateX(0);
}

#beginning {
  background: black;
}

#intro {
  background: blue;
}
