html {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  background: black;
}
body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

* {
  font-family: 'Montez', cursive;
}

.lifes {
  position: fixed;
  right: 0;
  width: 100%;
  top: 0px;
  height: 60px;
  text-align: right;
  padding: 20px;
  z-index: 1;
  background: black;
}

.lifes img {
  width: 50px;
  margin-left: 10px;
}

.bonus {
  position: fixed;
  left: 140px;
  width: 100px;
  top: 30px;
  z-index: 9;
  font-size: 25px;
  color: #fff;
}

#points-dori {
  position: fixed;
  top: 10px;
  left: 10px;
  z-index: 9;
  width: 120px;
}

section, #transition {
  height: 100%;
  width: 100%;
  position: absolute;
  background-size: 100%;
  visibility: hidden;
  display: none;
  opacity: 0;
  transition: 2s;
  overflow: hidden;
}

section.active, #transition.active {
  visibility: visible;
  opacity: 1;
  display: block;
}

section * {
  visibility: hidden;
  opacity: 0;
  transition: 1s;
}
section p {
  width: 100%;
  position: fixed;
  top: 115px;
  z-index: 9;
  color: white;
  margin: 0;
  font-size: 30px;
  background: rgba(0, 0, 0, 0.5);
  left: 10px;
  padding: 20px;
  border-radius: 10px;
  width: 500px;
  line-height: 140%;
}

.actions {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 100px;
  text-align: center;
  line-height: 100px;
  z-index: 9;
}

section > div {
  transition: 1s;
  opacity: 1;
}

section video {
  visibility: visible;
  transition: 1s;
  opacity: 1;
  width: 100%;
}

section.ended * {
  visibility: visible;
  opacity: 1;
}

#overlay {
  visibility: hidden;
  opacity: 0;
  transition: 1.5s;
  z-index: 9999;
  position: fixed;
  width: 100%;
  height: 100%;
  background: black;
}

#overlay.show {
  visibility: visible;
  opacity: 1;
}

.removing {
  opacity: 0 !important;
}

.actions button {
  background: none;
  border: none;
  color: white;
  border-bottom: 1px solid #fff;
  font-size: 33px;
  margin: 15px;
  cursor: pointer;
}

#transition {
  z-index: 99;
  background: black;
  color: white;
  text-align: center;
}
#transition > div {
  height: 300px;
  width: 500px;
  font-size: 45px;
  position: absolute;
  margin: auto;
  bottom: 0;
  right: 0;
  left: 0;
  top: 0;
}

footer {
  background: black;
  position: fixed;
  bottom: 0;
  height: 100px;
  width: 100%;
}


#bonus-animation {
  position: fixed;
  z-index: 9999;
  color: white;
  left: 50px;
  top: 50px;
  font-size: 130px;
  transition: 2s;
  visibility: hidden;
  opacity: 0;
}

.animate-point {
  animation-name: points;
  animation-duration: 0.2s;
  animation-iteration-count: 3;
  visibility: visible !important;
  opacity: 1 !important;
}

@keyframes points {
  0%   {
    transform: rotate(0deg);
  }
  33%  {
    transform: rotate(30deg);
  }
  66%  {
    transform: rotate(-30deg);
  }
  100% {
    transform: rotate(0deg);
  }

}
